---
layout: page
title: Platform Instruction
permalink: boxsetup/
---

<div class="home">
    <h2><b>Instruction to setting up the platform from manufacture to operation</b></h2><h6 align="right">Erez Li</h6>

    <div>
        <h4>Bill of material (BOM): </h4>
        <ul>
            <li>MP780619 Temperature & Humidity USB Datalogger with Probe</li>
            <li>3 Way Valve Hose</li>
            <li>Air hoses (available for purchase in engineering department store)</li>
            <li>2 x Air Pump and Vacuum DC Motor - 4.5 V and 2.5 LPM (can have stronger pumps for larger platform)</li>
            <li>4.5V DC supply for the pump (we cutted two micro-usb wires and soldered them to the pins of the pumps)</li>
            <li>Temperature controller and compatible heater (available in PoM)</li>
            <li>3mm clear perspecx sheet for enclosure (tested to be sufficient for temperature and humidity insulation)</li>
            <li>A stable stand for Autohaem to operate on if space is limited under fume hood</li>
            <li>A water bottle for generating 100% saturated humid air</li>
            <li>Water bath for heating up the 100% saturated humid air</li>
        </ul>
        <br>
        <center>
            <div>
                <img src = "/gm2-autohaem/assets/Humidity_control.png" alt = "water bottle set up" style="width:250px;border:5px double #545565;">
                <img src = "/gm2-autohaem/assets/bottle_setup.png" alt = "water bottle set up" style="width:250px;border:5px double #545565;">
                <br>
                <h6 align="center">Water bottle setup</h6>
            </div>
        </center>
        <h4>
            The humidity control is achieved with collecting air slightly above water level in the sealed bottle when a pump is pumping air into the water (illustrated above).
            Smaller bubbles in the water often indicates better performance - similar to gas washing bottle in Chemistry.
        </h4>
        <h4>The design of the enclosure can be referred to the enclosure design section of our <a href="/gm2-autohaem/#box-section">technical report</a>. 
            Ideally, the dimensions of the wholes for the wires to go into the box should be carefully measured. The bottom of the box should also be enclosed. 
            The window can be replaced with a section integrated with a pair of gloves if enough space is allowed for blood manipulation inside the box.
        </h4>
        <br>
        <h4>
            Once all the parts and requirements are ready. Clean them with ethanol and setup under the fume hood while making sure everything is well organised.
            Temperature probe for the controller and the probe for the data logger should be held close to the glass slide where the blood is smeared.
            The button to start the autohaem and be soldered to a longer wire, so that the device can be started from outside the box.
        </h4>
        <br>
        <h4>
            The accuracy of temperature control is around ±0.5°C and the accuracy of humidity level control is around ±2%rh if better insulation is achieved. 
            If placing the blood sample requires opening the enclosure, slide the window open and place the blood using pipette with a steady and median speed of motion 
            to avoid introducing too much turbulance.
        </h4>
    </div>


</div>