<p>
    The enclosure design is needed to retain the different environmental conditions we wanted to test. As this is only
    done for the experiment, the cost and materials used were quite liberal.

<p><b>Objectives</b></p>
<p>
<ul>
    <li>Retain heat and humidity levels in enclosure for as long as possible</li>
    <li>Able to fit into the fume cupboard</li>

    <li>Enclose heater and autohaem inside </li>

    <li>Provide entry points for probes, pipes and cables </li>

    <li>Provide a method of working with samples at working height </li>
</ul>
</p>

<br>

<b>Design</b>

<p>
    We went with a simple box design to be made of perspex. This was done as perspex had a good heat retention factor.
    To provide a method of working with samples, we had a simple door design which is easily removed. We produced a 3D
    model in solidworks just to get an idea of how it would look like
</p>
<br>
<figure>
    <img src="/gm2-autohaem/assets/enclosure_solidworks.jpg" alt="A solidworks model of the enclosure" width="300"
        height="300">
    <figcaption>Fig.1 - A solidworks model of the enclosure.</figcaption>
</figure>
<br>
<p>
    With the final design, the dimensions of the box had to change due to the fact that we could only buy certain sizes of perspex sheets. We also had to adjust the thickness of the perspex from 6mm to 3mm due to cost. This also meant that we had to investigate if the thickness was sufficient enough to maintain the temperature within the enclosure
</p>

<br>
<b>Manufacturing process:</b>

<p>
    The panels of the enclosure design were made using the laser cutter in the dyson centre. The panels were then put
    together
    using acrylic adhesive and then clamped for structural integrity. There was then a 2 day wait for the adhesive to dry. 
</p>

<br>
<figure>
    <img src="/gm2-autohaem/assets/enclosure_manufacture.jpg" alt="Construction of enclosure" width="300" height="300">
    <figcaption>Fig.2 -Construction of enclosure.</figcaption>
</figure>

<br>

<figure>
    <img src="/gm2-autohaem/assets/experimental_setup.jpg" alt="Construction of enclosure" width="300" height="300">
    <figcaption>Fig.3 -Experimental setup .</figcaption>
</figure>
<br>

<b>Testing and analysis</b>

<p>
    We tested the performance of the enclosure using the temperature and humidity probe. This was done by increasing the
    temperature within the enclosure to 40 degrees then observing the temperature there after.

</p>
<figure>
    <img src="/gm2-autohaem/assets/thermal_insulation_test.jpg" alt="Thermal insulation test with door closed"
        width="300" height="300">
    <figcaption>Fig.4 Temperature within enclsoure with door closed over 5 minutes</figcaption>
</figure>
<br>

<p>As seen in the graph, for the duration of the experiment, the temperature was quite constant for a long period of
    time for the 5min. The retention of tempearture was deemed suitable as the experiment would only take a few seconds.
</p>

<figure>
    <img src="/gm2-autohaem/assets/enclosure_performance.jpg"
        alt="Temperature and humidity during experimental procedure" width="300" height="300">
    <figcaption>Fig.5 Temperature and humidity for 40 degrees, 35%rh </figcaption>
</figure>
<br>
<p> As can be seen here, the humidity levels were not as constant when the door was opened at the time of testing the
    blood smear. The temperature and humidity levels dropped quite rapidly when opening the door. This moment can be
    seen within the red circle marked on the graph when the RH% starts to drop rapidly. This meant that we had
    to close the door and pump more humid air into the enclosure which is not ideal as we want to minimise the time the
    blood drop is in after it has already aclimiatised to the the conditions. This would have an effect on our accuracy
    on our results as time for each smearing alters.
</p>

<br>
<b>Future design</b>
<br>
<p>
    One of the areas we can most improve on is the retention of humidity levels even when working with the blood samples
    in the enclosure. The door method provided too much of an area for the air to escape from so one consideration would
    be how to minimise the exposed area. This problem was also exaggerated by the fact that the fume cupboard had air
    ducts to recycle the air, thus increasing the airflow out of the box.

</p>
<p>
    One method could be creating a system as below. This would help with the fact there would be no exposed area when
    changing the different blood samples. We would have to entirely rethink the dimensions of the enclosure and the
    procedure and it may not even be a feasbile design. However, this is just one of the redesigns possible for future
    experimeents.

</p>

<a href="https://m.made-in-china.com/product/Class-100-Laminar-Flow-Hood-with-Rubber-Gloves-806568365.html">laminar flow
    hood with rubber gloves
</a>

<br>
<p>
    Another problem found with the enclosure was the fact that the bottom of the fume cupboard was purely metal, this
    was conducting the heat away. To prevent this problem in the future, we would design an enclosure with a base as
    well
</p>