
<div class="home">
    <font size=3>  <b> Overview
 </b> </font>
 <br>
 
 <p> The investigations of the experiments are far from over. There are several concepts that can be further investigated in the future, and aspects of the experiment that can be reviewed. </p>

 <p> As for future investigations, the following are key areas that can be further investigated: <b>Changing Speed and Angle of the slider</b> at different environmental conditions and <b>Analysis of the Autohaem.</b> </p>

 <p>Other variables could also be investigated, such as the effect of the environment on the blood drop itself (viscosity and surface tension), because at high temperatures the blood drop spread out quite a lot and may have impacted the thickness of the smear. However by investigating the quality of the smears in different conditions, we are also seeing how the quality changes with the viscosity of the blood, however investigating more will give a better understanding of this.  </p>


 <p>
     Experiments investigating the optimum angle and speed of the Autohaem have already been carried out [1] and the results showed that for the Smear +, the optimum angle and speed were 50 degrees and 7cm/s. However, these parameters are only optimal for the environment these tests were carried out. Part of the aim of our experiment was to gather more data and information on smears in different environments, finding the optimum angle and speed in different environments would be extraordinarily useful as it would be possible to obtain ideal smears no matter the environment. 
    </p>
<p>
    Further investigations could lead to improving the Autohaem to be able to change the angle of the device and information can be provided to technicians and those using it, informing them of which setting to use depending on the temperature and humidity for example.
</p>

<p>
    Understanding what angle and speed of the smear, as well as what environmental conditions will give a given type of smear is extremely useful. This is because, thin smears can help to discover which species of parasite is causing the infection, whereas thick blood smears are most useful for detecting the presence of parasites. Therefore the Autohaem can be more flexible and can be used for other purposes, not just testing.
</p>




<font size=3>  <b>  Varying the Angle of the blood smear </b> </font>
<br>

<p>
    The experiments carried out by Sam Mcdermot showed that increasing the angle if the spreader slide increased the density of RBCs until it reached a maximum of 60 degrees, beyond this the density decreased, however at high angles the spreader slide tends to stick-slip with these parameters.
The resulting smear consists of sharp ridges. This effect is quantified in the interquartile range (IQR) of the density of RBCs across the fields of view. The IQR shows how consistent the densities of the smears are, and Sam’s results show that the IQR increased with angle meaning the densities became less consistent. 
</p>
<div style="float:right">
    <centre><img src = "/gm2-autohaem/assets/slider_angles.jpg" alt = "Slider angles" style="width:400px;border:6px double #545565;"></centre>
    <br>
    <h6 align="center">3D printed smear sliders at angles 30 degrees (left) to 70 degrees (right)</h6>
  </div>


<p>
    This is expected; increasing the angle should increase the thickness of the smear as the slide is dragging a larger thickness of blood. However, as temperature increases, the viscosity of the blood increases, and our results showed that the smear began to thin. Therefore it is possible that using larger angles will be better for environments with higher temperatures, and perhaps the smear slider may need changing to be able to slide smoothly at higher angles to avoid a jagged smear. 
    Our experiments showed that at higher tempartures, as the smears thinned, there was an increase in the amount of blood pushed to the end of the smears, resulting in increasingly large blots of blood at the end. Increasing the angle in these cases may help reduce this.
</p>

<p>
    Increasing the humidity increases the water droplets on the slider making it easier for the blood to spread out as it mixes or sits on top of the water. This was evident when blood was dropped on the sldier and it spread out immediately, this indicates that humidity levels affect the blood smear and may cause the smear to thin. Higher angles may also be more suitable for higher humidities. 
    Reducing the angle allows the smearer to slide smoothly, however this leads to thinner smears, and having a smear low RBC density runs the risk of having a false-negative test as the malaria parasites will have low density also. The effect if lower angles at different humidities should be further investigated regardless.
The Openscad document is available at https://gitlab.com/autohaem/autohaem-smear-plus and the slider angles can be changed, and these are used for testing. Slider angles from 30 degrees to 70 degrees were printed during the project however investigating the effect of different angles was not possible with the time available.
</p>

<font size=3>  <b>  Varying the Speed of the blood smear </b> </font>
<br>

<p>
    Similar to the angle of the slider, higher speeds produce a higher density until a maximum is reached, also because at too high speeds, the consistency of the smear decreased. When smearing by hand, moving too fast will result in a short smear where all the smears are feathered to the edge and too slow will result in thin, long smears. It is hypothesised that the Autohaem will behave the same, and at higher temperatures and humidity higher speeds will give better smears as they will reduce the number of feathered blood cells and allow the less viscous blood to smear quickly, preventing the smear from being too thin. 
</p>



<font size=3>  <b> Analysing the Autohaem </b> </font>
<br>

<p>
    The Autohaem has been rigorously tested and can create many good smears successively, however finding out exactly how many smears can be done without rest is yet to be done. Knowing this will be very useful as it will inform users of the device of when they should rest the device. 
The performance of the device may also be affected by the temperature and humidity, the stepper motor may not run as smoothly at too high temperatures and the slider rod may need to be re-lubricated more regularly in different conditions. These results are yet to be known and further investigation would be useful.
</p>

<p>
    Knowing the limits of the Autohaem will be useful during experimentation where we want to analyse the effect of parameter on blood smears (that isn’t the Autohaem itself).
</p>


<font size=3>  <b> Further Considerations and Suggestions: </b> </font>

<p>
    If repeating the experiment, aim to complete all test and samples on the same day with the same blood sample to avoid changes in the sample used, due to changes in the way the blood is mixed the next time experiments are carried out, or due to changes in the blood sample due to storage
</p>

<p>
    Attempt to do at least 3 tests per temperature and humidity setting, as well as speed and angle if these are being investigated too.
</p>

<b>Sources</b>
<p>[1] -  <a href=https://aip.scitation.org/doi/10.1063/5.0076901></a>https://aip.scitation.org/doi/10.1063/5.0076901</a></p>
<a href="https://www.autohaem.org/">More Information about Autohaem</a>