<div>
    <div>
        <span style="font-size: 16px;">
            Because the viscosity (both plasma and whole blood) of the blood decreases with a temperature rise
        </span><span style="font-size: 12px;">[1][6]</span>
        <span style="font-size: 16px;">, 
            and less viscous blood leads to thinner blood smear and less aggregation
        </span><span style="font-size: 12px;">[2]</span>
        <span style="font-size: 16px;">.
            We suggest that <b>H1: </b><u>temperature increases, the blood smear becomes thinner and fewer RBC aggregates. 
            Increasing the angle or the speed can achieve better results.</u>
        </span>
    </div>
    <br>
    <div>
        <span style="font-size: 16px;">
            Because the contact angle between the blood drop and the glass slide depends on the relative humidity in the air
        </span>
        <span style="font-size: 12px;">[3]</span>
        <span style="font-size: 16px;">, 
            and larger contact angle may lead to a thicker blood smear
        </span>
        <span style="font-size: 12px;">[4]</span>
        <span style="font-size: 16px;">. 
            Also, the viscosity of blood depends on the drying time and the relative humidity of the air
        </span><span style="font-size: 12px;">[5]</span>
        <span style="font-size: 16px;">. We suggest that 
            <b>H2: </b><u>As humidity level increases, the blood smear becomes thinner and fewer RBC aggregates. 
            Increasing the angle or the speed can achieve better results.</u> 
        </span>
    </div>
    <br>
    <div>
        <span style="font-size: 16px;">
            Because lower viscosity leads to a thinner boundary layer and the RBC tends to flow in the middle of the plasma, 
            more RBC will be pushed at the end which will not be observed under the microscope.
            Therefore we suggest that <b>H3: </b><u>Lower viscosity means thinner blood smear and less RBC at the smearing 
            (or lower RBC density). </u> 
        </span>
    </div>
    <br>
    <div>
        <span style="font-size: 16px;">
            According to previous research</span><span style="font-size: 12px;">[4]</span> <span style="font-size: 16px;">and the fact that the 'pulling' mechanism does not stress the blood, 
            <b>H4: </b><u>we do not expect the eccentricity of RBC to change by much.</u> 
        </span>
    </div>
    <br>
    <div>
        <span style="font-size: 16px;">
            <b>H5: </b><u>We are also expecting some physical operating limits for the device.</u> 
        </span>    
    </div>
    <br>
    <div>
    <span style="font-size: 16px;">
        <b>Assumptions: </b>The CO2 concentration of our testing environment is kept constant, and our lab environment is relatively clean. 
        These two factors are also considered nontrivial in our hypothesis. 
    </span>
    <span style="font-size: 13.28px;">
        The viscosity of blood, when exposed to the air, increases rapidly. 
        This change accompanies a loss of carbon dioxide and can be prevented by stoppering the container and agitating until 
        the blood comes into carbon dioxide equilibrium with the air above it when the viscosity remains constant. 
    </span>
    <span style="font-size: 12px;">[5]</span> 
    <span style="font-size: 13.28px;">
        This concentration also changes the pH in the blood.
    </span>
    </div>
    <br>
    <h6>
        [1] Kang, Y.J., Lee, S.-J., 2018. In vitro and ex vivo measurement of the biophysical properties of blood using microfluidic platforms and animal models. The Analyst 143, 2723–2749.. doi:10.1039/c8an00231b
        <br>
        [2] <a href="https://okean.rs/preparation-of-blood-smear/">PREPARATION OF BLOOD SMEAR</a>
        <br>
        [3] Yadav, S. S., Sikarwar, B. S., Ranjan, P., Janardhanan, R., & Goyal, A.. (2020). Surface tension measurement of normal human blood samples by pendant drop method. Journal of Medical Engineering & Technology, 44(5), 227–236. https://doi.org/10.1080/03091902.2020.1770348
        <br>
        [4] Mcdermott, S., Kim, J., Leledaki, A. A., Parry, D., Lee, L., Kabla, A., Mkindi, C., Bowman, R., & Cicuta, P.. (2022). autohaem: 3D printed devices for automated preparation of blood smears. Review of Scientific Instruments, 93(1), 014104. https://doi.org/10.1063/5.0076901
        <br>
        [5] Langstroth L. BLOOD VISCOSITY : I. CONDITIONS AFFECTING THE VISCOSITY OF BLOOD AFTER WITHDRAWAL FROM THE BODY. The Journal of Experimental Medicine. 1919 Nov;30(6):597-606. DOI: 10.1084/jem.30.6.597. PMID: 19868380; PMCID: PMC2126675.
        <br>
        [6] Lowe GD. Blood rheology in vitro and in vivo. Baillieres Clin Haematol. 1987 Sep;1(3):597-636. doi: 10.1016/s0950-3536(87)80018-5. PMID: 3327559.
    </h6>
</div>