---
layout: default
---

<div class="home">
  <h1><b>GM2 Autohaem 2022</b></h1>
  <h3><b>Our Main Objectives</b></h3>
  <ul>
    <li>
      <h4>Investigate the effect of environmental factors on the performance of Autohaem Smear+ (temperature and humidity level)</h4>
    </li>
    <li>
      <h4>Suggest further improvements and provide perspectives in further investigation</h4>
    </li>
  </ul>

  <span><h3><b> Why are we doing this? - General Context</b></h3> <h6 align="right">Jathavan Thevarajah</h6></span>
    <p>
      Malaria is an acute febrile illness that is spread by infected female mosquitoes which feeds on humans. It is a serious disease and if not promptly treated, it can be fatal. In 2020, the World Health Organization, WHO, estimated that there were 241 million cases of malaria worldwide and approximately 627 000 deaths due to this disease. It was prevalent in Africa which had contributed to 95% of those cases and 96% of those deaths.
    </p>
    <p>
      To manage these cases, it is vital to diagnose an individual with malaria as soon as possible in order to reduce transmission and prevent deaths. The WHO recommend that any potential malaria cases should use parasite-based diagnostic testing which includes either rapid diagnostic test or microscopy . The latter approach involves producing a high-quality smear of the patient’s blood which  is then fixed  and examined under a microscope by a medical expert. If the patient is infected, the examination can detect the species and stage of malaria as well as the density of the infection. This information then allows the doctor to provide the correct treatment. 
    </p>
    <p> 
      Through research conducted by the Autohaem team in clinics in Tanzania, it was found that the microscopy approach in these clinics were conducted by hand which gave rise to multiple issues. The main difficulties can be categorized into 3 groups: inconsistencies in smearing, inconsistencies in staining and inconsistencies in imaging. Of these three difficulties, the Autohaem team aimed to address the inconsistencies in smearing by making a device that can produce consistent and high quality smears which can be printed and manufactured at significantly lower costs compared to alternative solutions.
    </p>
    <span><h4><b> Autohaem Smear and Autohaem Smear+</b></h4></span>
    <figure>
      <img src="/gm2-autohaem/assets/Autohaem_pics.jpg" alt="Figure 1: The Smear is shown on the left and the Smear+ on the right"
          height="300">
      <figcaption>Fig. 1: The Smear is shown on the left and the Smear+ on the right</figcaption>
  </figure>
    <br>
    <p>
      Autohaem Smear and Authohaem Smear+ are the devices that have been produced to tackle this problem. The devices hold a slider horizontally on its body and another slider is held at an angle by the slider mechanism. On the Smear model, the slider mechanism is manually controlled by hand whereas the Smear+ model uses a motor to control the slider.
    </p>
    <p>
      Previous work on the Autohaem Smear+ has found the optimal angle and speed the smears should be performed at but this was tested at room temperature and relative humidity close to 40%. The Autohaem Smear+ is aimed to be used in regions, such as Africa, where the temperature and humidity are much higher. Therefore, we decided to investigate the effects of temperature and humidity on blood smears produced by the Smear+.
    </p>
  <br>
  <span><h3><b> What have we investigated? - Technical Sumnary </b></h3> <h6 align="right">Erez Li</h6></span>
    <p>
      We firstly designed and manufactured (in the Dyson Centre of Engineering Department) an enclosure as our <a href="#box-section">experimental platform</a>, 
      within which we can control the environment temperature and humidity level. 
      This allows us to investigate the performance of Autohaem Smear+ for a range of environmental settings. 
    </p>
    <p>
      After we have gone through a list of training and risk assessment, including HTA training, biolab induction, etc. 
      we were then eligible to conduct our experiment in the Cavendish Laboratory of Physics Department. 
      The enclosure platform was set up under the fume hood for blood manipulation (see Figure 1). 
      The detailed instruction on how to set this up and operate it is provided <a href="/gm2-autohaem/boxsetup/">here</a>, as well as the assembly instructions.
      The blood smear slides were then examined under the Nikon Ti-E microscope and imaged using an existing and tested pipeline.
    </p>
    <br>
    <div style="float:right">
      <img src = "/gm2-autohaem/assets/platform_setup.jpg" alt = "A photo of the platform under fume hood" style="width:300px;border:6px double #545565;">
      <br>
      <h6 align="center">Figure 1: Experimental setup under the fume hood</h6>
    </div>
    <p>
      Despite the time constraint and the limited number of data points we have collected, 
      the results we obtained were non-trivial. As the temperature increased, the performance of the device had a distinguishable drop. 
      We hypothesised that this is due to the change in the blood viscosity for different temperatures, however, this is worth further investigation and validation.
      We suggested a few solutions to this problem such as built-in temperature and self-regulated motor speed. 
      The effect of varying humidity levels on the quality of the blood smear was not detected; 
      nevertheless, it was observed that the device reached its operating limits at high temperature and humidity level settings (~40°C and 70%rh).
      We suggested a few potential reasons for this according to our physical observations of the failure. Some of them are worth further investigation. 
    </p>
    <p>
      There are also some environmental factors we have not yet examined, but they are considered to potentially affect the blood smear. 
      These include CO2 concentration in the air and the existence of dust.
    </p>
  <br>
  <h3 id="report"><b> Our Technical Report </b></h3>

  <br>

  <div>
    <span><a data-toggle="collapse"  class="btn btn-info" type="button" data-target=".multi-collapse">Toggle All</a></span>
    <span><button class="btn btn-info" onClick="window.location.reload();">Collapse All</button></span>
    <!--<a class="btn btn-info float-right" type="button" href="/gm2-autohaem/index.html#report" align="right">Collapse All</a>-->
  </div>
  <div class="container-md">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1"><b>Hypothesis and Validation</b></a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse multi-collapse">
          <div class="panel-body">
            <div id="hypothesis"></div>
          </div>
          <div class="panel-footer">Erez Li</div>
        </div>
      </div>

      <div class="panel panel-default">
        <span id="box-section"></span>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2"><b>Enclosure Design</b></a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse multi-collapse">
          <div class="panel-body">
            <div id="enclosure"></div>
          </div>
          <div class="panel-footer">Henry Dai</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3"><b>Experiments and Results</b></a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse multi-collapse">
          <div class="panel-body">
            <div id="results"></div>
          </div>
          <div class="panel-footer">Jathavan Thevarajah</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse4"><b>Key Findings</b></a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse multi-collapse">
          <div class="panel-body">
            <div id="key_findings"></div> 
          </div>
          <div class="panel-footer">Henry Dai and Erez Li</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse5"><b>Our Improved Experiment Protocol</b></a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse multi-collapse">
          <div class="panel-body">
            <div id="protocols"></div>
          </div>
          <div class="panel-footer">Erez Li</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse6"><b>Perspectives for Further Investigation</b></a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse multi-collapse">
          <div class="panel-body">
            <div id="future"></div>
          </div>
          <div class="panel-footer">Joshua Abu</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse7"><b>Technical Recommendations</b></a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse multi-collapse">
          <div class="panel-body">
            <div id="recommendations"></div>
          </div>
          <div class="panel-footer">All</div>
        </div>
      </div>
    </div>
  </div>
  <a data-toggle="collapse" class="btn btn-info" type="button" data-target=".multi-collapse">Toggle All</a>

</div>
