<b>Limits of operation</b>
<br>
<br>
<p>
    We managed to physically observe the functionality of the autohaem at different environmental conditions. We found
    out that the autohaem's functionalily was indeed dependent on the temperature and humidity
</p>
<br>
<video width="300" height="300" controls>
    <source src="/gm2-autohaem/assets/smear_video.mp4" type="video/mp4">

</video>

<br>
<br>
<p>
    At 40 degrees ~rh 60% the autohaem began to stutter and the blood smears were impossible to obtain. Furthermore, as
    seen in the video, we also hypothesised that the friction between the glass slides could also be a factor in the
    unsuccessful attempt to obtain results.

</p>

<br>
<figure>
    <img src="/gm2-autohaem/assets/motor_spec.jpg" alt="Temperature and humidity during experimental procedure"
        width="350">
    <figcaption><b>Motor specification</b></figcaption>
</figure>

<br>

<p>
    From the motor specification, we found that it was only operational in the range between -10 to 40 degrees. This
    reconfirms what went wrong during the experiment at 40 degrees 60%rh.
</p>

<b>blood splatter</b>

<div style="float:right">
    <img src = "/gm2-autohaem/assets/blood_pattern.jpg" alt = "A photo of the blood splatter" style="width:280px;border:5px double #545565;">
    <br>
    <h6 align="center">Blood pattern evolved at the right</h6>
</div>
<p>
    At high temperate and high humidity (40°C and 70%rh), we observed an unexpected and yet very interesting behaviour of blood. 
    As we gently placed the blood onto the glass slides under this condition, the blood drops spontaneously expanded to cover the glass in a pattern.
    This has repeatedly resulted in undesired blood smears 
    and could even be one of the reasons for device failure at high temperature and humidity by increasing glass-to-glass friction. 
    We have hypothesised that a reason for this behaviour is the high temperature and humidity level have reduced the contact angle between blood and glass 
    by lowering the surface tension between blood and air. And under such circumstances, the blood can spread around the slide. 
    To mitigate this effect, since the blood is starting with a very thin layer, reducing the speed or increasing the angle may generate better results. 
</p>

<br>
<b>Future implications</b>
<br>
<p>

    Having not considered the functionality of the autohaem itself, we know open up an avenue of investigations needed
    for the autohaem itself. Future investigations of this kind would allow us to gain greater insight in the limits of
    the autohaem and offer improvements to the manufacture and components of the autohaem

</p>