---
layout: page
title: Project Management
permalink: projectm/
---
<h6 align="right">Henry Dai</h6></span>
<div class="home">
    <font size=3>  <b>  Strategy
 </b> </font>
 <br>
<p>
    With the nature of our project and experiment, we decided to tackle the separate tasks all together. This was because every separate task was heavily interlinked with one another. This allowed everyone to critically and creatively think of solutions for each problem we encountered in each task as opposed to if only one person worked on a task. 
</p>   
<p>
    For the experiment procedure itself, we decided to split into two teams where one team was focused on carrying out the procedure and the other half was processing and analysing the blood smears. This was due to the fact that only one person can operate in the fume cupboard, where the procedure took place, and people needed time to analyse the blood smears from the procedure. This allowed us to reduce the dead time and gain a lot of results in a limited amount of time. 
    
</p>
<font size=3> <b>Adaption</b> </font>
<br>

<p>
    We were able to critically and creatively think of solutions for each problem we encountered in each task as opposed to if only one person worked on a task. For example, a problem we encountered was the fact we couldn’t reach high enough relative humidity in the procedure. To overcome this, Erez thought of changing the experimental setup by heating the humidifier, allowing more water to become saturated in the atmosphere and Henry changed the setup to use two pumps instead of one for the humidifier. The higher relative humidities were only reached because of the combination of these two solutions.
</p>
<p>
    Another positive was that we were able to critique each other's ideas and offer improvements to the task. The initial design of the box was made by Henry but issues were flagged by the rest of the team in terms of the cost of time to deliver materials. The revisions of the box design were made by the rest of the team to reduce cost and time of manufacture, allowing experiments to be done in time.
    

</p>

<p>
    Time management was important in this project simply because we didn’t have a way of knowing how long each task would take. Having the flexibility to change objectives allowed us to work on specific tasks first as priorities. We cut down on the tasks to do including the design of dust covers and the optimal speed and angle of the autohaem at different environmental conditions


</p>
<font size=3> 
<b>
What went well
</b>
</font>
<br>
<p>
We managed to collect some results and generate some key findings to do with the results taken. With the key findings, we found that we could answer the question of how temperature and humidity affect blood smears. 
    
</p>
<p>
    With the experiment, we also found that there were operational limits of the autohaem itself, allowing us to explore the new idea of how the environmental factors affect the functionality of autohaem itself. This would have to be explored further but introduces another key factor not previously thought of before.    
</p>
<p>
    From this, we were able to provide recommendations to either the manufacturer of the lab technicians who would build, operate and modify the autohaem
   
</p>
<font size=3> 
<b>What didn’t work well</b>
</font>
<br>
<p>
    Due to either procedure error or mechanical failure, a lot of results were not valid. With more time, we would have been able to redo this experiment and gain more results, allowing us to confidently answer the question of how the environmental factors affects blood sm
</p>
<p>
    There were inefficiencies when splitting the work up when doing the experiment. The allocation of specific tasks within the experiment and analysis could have been distributed better for greater efficiency.  The setting up of the experiment took a long time so the analysis team had to wait but when the experiment was proceeding smoothly, the analysis team had a lot of work staining and analysing the results. 

</p>
</div>