<p>
    The experiment should be carried our in a Class II MSC. Blood should be prepared as described <a href="/gm2-autohaem/assets/phy-bio-hta-ra-bso002_unscreened_human_blood_cavendish.pdf" target="_blank">here</a>. 
    For further safety concern, blood should also be screened by the NHS BT, washed and processed to Red Blood Cells.
</p>
<p>
    <b>
        Blood Sample Preparation
    </b>
</p>

<ul>
    <li>
        Transfer roughly 100 μl sample of cells from the culture into an Eppendorf Tube
    </li>
    <li>
        Spin the sample for a few seconds in the microcentrifuge
    </li>
    <li>
        Remove roughly 75 μl of the supernatant with a pipette, mixing the rest with pellet - the aim is 50% Hematocrit 
    </li>
</ul>

<p>
    <b>
        Environment Control
    </b>
    - an instruction for setting up the platform is described <a href="/gm2-autohaem/boxsetup/">here</a>.
</p>



<ul>
    <li>
        For each blood samples, perform automated smearing under normal condition (22°C and 30%rh) as a control group to ensure consistency across samples. 
        Instruction for automated smearing and staining is described as followed:
        <ul>
            <li>
                Take 3 μl for a single blood drop and place this drop of blood on a clean slide, towards the opaque end
            </li>
            <li>
                Run autohaem to perform automated smearing
            </li>
            <li>
                Wait a few seconds until the blood dries
            </li>
            <li>
                Rinse with methanol, and air dry immediately with a hair dryer
            </li>
            <li>
                Flood slide with fresh, filtered 10% Giemsa in phosphate buffer
            </li>
            <li>
                Wait 10 minutes
            </li>
            <li>
                Flood slide with RO water
            </li>
            <li>
                Air dry immediately with a hair dryer
            </li>
        </ul>
    </li>
    <li>
        To control the temperature, simply set the value on the heater. (The controller has a small steady state error, so set the temperature 0.4°C lower)
    </li>
    <li>
        To control the humidity level, turn on the pump (1) that is sending air through the water (100%rh) to increase humidity, with the valve for the pump (2) off; 
        turn on the pump (2) that is sending regular (dry) air to decrease humidity, with the valve for the pump (1) off. Monitor the relative humidity from the data-logger screen.
        The heater has an integrated fan but it was considered not enough for fast circulation within the enclosure; therefore turn the pump off before it reaches ideal value.
    </li>
    <li>
        Once the environmental factors reaches target value. Wait for a period of time for the environment inside the enclosure to become steady. Place the blood drop and run autohaem.
        A suggested range for temperture and humidity levels are from 24°C to 40°C with 2°C increments each time, and from 35%rh to 70%rh with 5%rh each time, 
        since physical limits were observed in the experiments for both autohaem and blood drops.
    </li>
    <li>
        Take at least 3 samples for each environmental setting, and image at around 20 positions for each sample using Nikon Ti-E and 60x lens.
    </li>
    <li>
        Obtain the results using existing pipeline - Cellpose for segmentation.
    </li>
    <li>
        It is also possible to image a slide with 0% Hematocrit to ensure that there is no contamination and dust is not imaged as a negative control.
    </li>
</ul>
