---
layout: page
title: Sustainability Focus
permalink: Sustainability/
---

<h6 align="right">Joshua Abu</h6></span>

<div class="home">
     <font size=3>  <b>   Background Info </b> </font>
 <br>
 <p>
     The 17 Sustainable Development Goals (SDGs) are Global goals outlined by the United Nations (UN) in 2015 following the negotiations of the General Assembly (the leading policy-making group of the UN) which resulted in the adoption of the 2030 Agenda For Sustainable Development which is a plan for peace and prosperity for people and the planet, now and into the future. 
    </p> 
    <div style="float:right">
        <centre><img src = "/gm2-autohaem/assets/sustainable_goals.jpg" alt = "sustainable wheel" style="width:400px;border:6px double #545565;"></centre>
        <br>
        <h6 align="center"></h6>
      </div>
     
    <p>At the heart of this plan is the 17 SDGs; the goals aim to emphasize a holistic approach to sustainable development for everybody; recognising that ending poverty and other deprivations must go hand-in-hand with strategies that improve health and education, reduce inequality, and spur economic growth – all while tackling climate change and working to preserve our oceans and forests.
    </p>
   
<br>


    <font size=3> <b>Our Projects Part in This Agenda</b> </font>
    <br>

    <p></p>
        Of the 17 goals, this project focuses on Goal 3 – Good health and well-being. This goal focuses on ensuring healthy lives and well-being for all of all ages.
    </p>

    <div style="float:right">
        <centre><img src = "/gm2-autohaem/assets/goal_3.jpg" alt = "sustainable wheel" style="width:200px;border:6px double #545565;"></centre>
        <br>
        <h6 align="center"></h6>
      </div>

<p> 
Unfortunately, there were an estimated 241 million malaria cases and 627 000 malaria deaths worldwide in 2020. This represents about 14 million more cases in 2020 compared to 2019 and 69,000 more deaths. The WHO African Region carries a disproportionately high share of the global malaria burden. In 2020, the region was home to 95% of malaria cases and 96% of malaria deaths, where children under five years of age accounted for about 80% of all malaria deaths in the Region. [1]
</p>

<p>
Testing for malaria involves taking the patient’s blood samples and doing blood smears with the selection of mainly the red blood cells (RBCs). These smears can then be analysed under a microscope.  Consistent, high-quality blood smears are needed for the early detection and treatment of malaria. Consistent blood smears are very difficult to do by hand, especially in the environmental conditions of the regions most affected, and there is currently no cheap solution.
</p>
<p>The Autohaem is a device that automatically smears blood, a solution to this problem. Tests have been carried out on the device indicating the optimum speed, and angle of the slider for blood smearing, and tests have shown the device produces significantly better smears than can be done by hand. However, the environmental conditions of these smears are being done were hypothesised by us to be suboptimal for the angle and speed that the smears are done at (high temperatures and humidities).  The aim of This project is to carry out experimental tests to observe the effect of temperature and moisture on blood smears and find the optimum conditions and suggest ways to improve smears under different conditions.  </p>

<br>
<font size=3> <b>How Much Of An impact can We make?</b> </font>
<br>
<p>
The Autohaem can make a massive impact by increasing the speed of the malaria testing process, allowing for more people to be tested daily and more importantly, the Autohaem provides better blood smears which allow for more accurate testing for malaria, and it is affordable and open-source, so available to everyone. However, the environmental conditions (high temperatures and humidity) impact the quality of the smear; finding and suggesting the best conditions for blood smears can help those using the Autohaem to have a better understanding of how to output good blood smears. In addition to this (as a possibility for further investigation), finding the best angles and speeds of smearing in different conditions will give technicians the ability to have better smears in their given environments.
</p>


<p>
Studies show that between 10-20% of tests are false negatives. A possible reason for a false negative malaria test is low Malaria parasite density on the smear (therefore low RBC density), which may be due to poor smears and smears that are too thin. Improving blood smears can greatly impact diagnosing malaria, especially with asymptomatic children, allowing for early treatment.
</p>


<font size=3> <b>Unicef Principles for Digital Development</b> </font>
<br>
    <p>
        The Principles for Digital Development are nine guidelines that are designed to help integrate best practices into technology-enabled programs; these principles helped guide us and other teams’ designs and focuses. It is evident that these principles heavily influence Autohaems design; It has been purely designed to be simple to use (push a single button), everything is open source, and the main design is 3D printed so it can be scaled easily.
    </p>
    
    <p>
        As for this project’s experiment, our results and the experimental procedure are public and free to allow others to replicate, improve, and use the results to inform their blood smearing techniques. Hence, <b>Principle 6 – Use Open-Source</b> and <b>Principal 9 – Be Collaborative </b> have been focal points for our project.
    </p>

</div>