<div>

    From our results, there are a few technical recommendations we can suggest.


    <p>
    <ul>

        <li><b>Implement a build in temperature sensor</b>
        </li>
        <br>
        <p>
            Implementing a built-in temperature sensor allows the technician or a user to see the temperature of
            the autohaem currently. Based on our current results, we can only suggest that you do the
            experiments as close to 25 degrees as possible. If the temperature was outside the operating
            condition, we can only advise to not run the autohaem. However, in the future, we can implemenet a
            feedback system using the temperature reading. Assuming the fact that we have found the optimal
            speed and angle of the autohaem at each environmentla factor, the autohaem would automically adjust
            its speed and angle accordingly.
        </p>
        <li><b>Display limiting and optimal operating conditions on autohaem website</b></li>
        <br>
        <p>
            This would allow the people operating the autohaem to know which conditions are best to operate the autohaem
            in. They would know and understand when they can and cannot operate the autohaem
        </p>

        <li><b>Include instructions on how to change angles of the slider with GitLab</b>
        </li>
        <br>
        <p>
            Being able to vary the parameters of the Autohaem will allow the device to perform optimally at various environmental conditions. For users of the Autohaem, having clear instruction on how to change the angles the slide is inclined at will be important, particularly for users with minimal experience GitLab.  
        </p>
        <p>
            It might also be helpful to design an easily replacable module for the user to rapidly change the angle, because currently the whole bridge section needs to be 3D printed with different angle settings, and changing angles would require disassemble many parts.
        </p>


        <li><b>Changing the Motor</b>
        </li>
        <br>
        <p> Currently, a DC 6V gear motor with an M3x55mm screw thread output shaft is used for the Autohaem smear +. It is functional and cheap, only costing £6.77 on Amazon. However, at high temperatures, the performance of the motor dropped slightly and the slider jittered occasionally.

        </p>
        
        <p>Changing to a more robust motor may be more costly, however, will improve the smear qualities in more harsh conditions and could possibly allow the Autohaem to be able to more samples without resting. (see future investigations link). 
        </p> 
        
        <p>Improving the motor is only necessary when operating in high temperatures and humidity and we only suggest upgrading if the resources are available. 
            </p>

    </ul>
    </p>









</div>